.footer_inner{
    padding: 16px;

    .footer_text{
        font-size: 12px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        display: flex;
        justify-content: space-between;
        padding: 3px 0;

    }
    .footer_infor{
        display: flex;
        justify-content: space-between;
        margin: 100px 0;

        @media(max-width:800px){
            flex-direction: column;
        }

        .left{
            width: 40%;

            @media(max-width:800px){
                width: 100%;
            }


            .title{
                border-top: 2px solid black;
                border-bottom: 1px solid black;
                padding: 15px 0;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 800;
                transition: all .3s ;

                &:hover{
                    padding-left: 15px;
                    background-color: #d1cdd6;
                    border-color: transparent;
                }
            }
            p.desc{
                font-size: 14px;
                padding: 20px 0;
            }
        }
        .right{
            width: 50%;

            @media(max-width:800px){
                width: 100%;
            }

            h3{
                font-size: 20px;
                border-top: 2px solid black;
                margin-bottom: 40px;
            }
            ul{
                border-top: 1px solid black;

                li{
                    border-bottom: 1px solid black;
                    

                    a{padding: 14px 0; display: inline-block; font-weight: 600;}
                    em{
                        font-size: 12px;
                        margin-left: 1.2vw;
                        opacity: 0;
                        transition: opacity .3s;
                    }

                    &:hover em{opacity: 1;}
                }
            }
        }
    }
    .footer_bottom{
        text-align: center;
        font-size: 12px;
        margin-bottom: 50px; 
    }
}